.idea
.DS_Store
*.pyc
demo/data/*/data/*
!demo/data/*/data/data_generator.py
demo/*/*/processed_data/*
!demo/*/*/processed_data/process.py
_other/temporary/*
!_other/temporary/desc.txt
*.egg-info
__pycache__